<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.apache.derby.jdbc.ClientDriver</property>
		<property name="hibernate.connection.url">jdbc:derby://localhost:1527/trn</property>
		<property name="hibernate.connection.username">trn</property>
		<property name="hibernate.connection.password">trn</property>
		<property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="connection.pool_size">1</property>
		<property name="hibernate.hbm2ddl.auto">create</property>

		<property name="hibernate.generate_statistics">true</property>
		<!-- Employee -->

		<mapping resource="revise.xml" />



	</session-factory>


</hibernate-configuration>